

	}
.dropdown-item {
	margin-right: 30px;
}

	.carousel-item img {
		min-height: 190px;


	}

	.drop {
		margin-right: 50px
	}
	.carouselExampleFade{
		padding-bottom: 100px;
	}

	img {
	max-width: 100%
	height: auto;
	}
	.carousel-caption h1 {
		font-size: 24px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
}

.carousel-item {
	background: #000000;
}
#btnGroupDrop1 {
	color: #FFFFFF !important;
	border: none;
}
.carousel-item img {
	opacity: 1.0;
}
.call {
	display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */background: rgba(255,255,255,0.3);
  border-radius: 8px;
  color: #f7f9f9 ;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.call:hover {
color: #fff;
background-color: rgba(46, 49, 49, 1);
}	
/*
.learning {
display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; background: rgb(255,255,255,0.3);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  margin-right: 55px;
  margin-bottom: 10px;
  position: absolute;
}
 .learning;hover {
 	color: #000000;
background-color: rgb(255,255,255,0.3);
 }


 .eskiz {
 	display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff; background: rgba(255,255,255,0.3);
  border-radius: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
 }
 .eskiz:hover{
 	color: #fff;
background-color: rgba(46, 49, 49, 1); 
 } */
 figure:hover .ha, figure:hover .ha1, figure:hover .ha2, figure:hover .ha3, figure:hover .ha4, figure:hover .ha5, figure:hover .ha6, figure:hover .ha7, figure:hover .ha8, figure:hover .ha9, figure:hover .ha10, figure:hover .ha11  {
 	
 	transition: all 0.3s ease-out;
 	visibility:visible;
 }
 
 figure:hover {
 	opacity: .5;
 	transition: all 0.3s ease-out;
 	
 }
 .ha {
 	position: absolute;
 	text-align: center;
 	bottom: 87%;
 	left: 15.5%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha1 {
 	position: absolute;
 	text-align: center;
 	bottom: 87%;
 	left: 48%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha2 {
 	position: absolute;
 	text-align: center;
 	bottom: 87%;
 	left: 80%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha3 {
 	position: absolute;
 	text-align: center;
 	bottom: 62%;
 	left: 15.5%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha4 {
 	position: absolute;
 	text-align: center;
 	bottom: 62%;
 	left: 48%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha5 {
 	position: absolute;
 	text-align: center;
 	bottom: 62%;
 	left: 80%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha6 {
 	position: absolute;
 	text-align: center;
 	bottom: 38%;
 	left: 15.5%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha7 {
 	position: absolute;
 	text-align: center;
 	bottom: 38%;
 	left: 48%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha8 {
 	position: absolute;
 	text-align: center;
 	bottom: 38%;
 	left: 80%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha9 {
 	position: absolute;
 	text-align: center;
 	bottom: 11%;
 	left: 15.5%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha10 {
 	position: absolute;
 	text-align: center;
 	bottom: 11%;
 	left: 48%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha11 {
 	position: absolute;
 	text-align: center;
 	bottom: 11%;
 	left: 80%;
 	visibility:hidden;
 	size: 70px;
 	color: #000;
 	cursor: pointer;
 	max-width: 100%
	height: auto;
 }
 .ha:hover .ha1:hover{
 	visibility:visible;

 }

 .pointer {
 	margin-bottom: 15px;
 }
.bg-dark {
	background-color: #212121 !important;
}
.dropd {
	background-color: #212121 !important;
}


.navbar-brand img {
	width: 32px;
	height: 32px;
}
.call {
	font-size: 20px;
}

.navbar-dark .navbar-toggler {
	border-color: transparent;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-right {
  float: right;
}



.dropdown-menu {
	background-color: transparent;
	border: none;
}
.dropdown-item, .dropdown-item:link, .dropdown-item:visited {
	color: rgba(255,255,255,.5);
}
.dropdown-item:hover, .dropdown-item:active {
	color: #fff;
	background-color: transparent;
}

.socials {
	cursor: default;
	margin-top: 20px;
}
.socials a i {
	width: 32px;
	height: 32px;
	font-size: 20px;
}


#clsicon {
	display: none;
	height: 30px;
	width: 30px;
	overflow: hidden;
}
#clsicon i {
	font-size: 28px;
	color: white;
}

h1#header_title {
	font-size: 99px;
}



.icon {
    color:  #0dd9ed ;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    margin-top: 9px;
}
 

/*
	Thumbnail sizes:;
		508x225
		208x225
		288x225
		348x225
*/

#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

