@media (min-width:1265px) {
	.carousel-item {
		height: 775px;
	}
}
@media (max-width:868px) {
	.carousel-item {
		height: 220px;

	}


	.carousel-item img {
		min-height: 220px;

	}
	.carousel-caption h1 {
		font-size: 24px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
}

.carousel-item {
	background: #000000;
}
.carousel-item img {
	opacity: .8;
}

.bg-dark {
	background-color: #212121 !important;
}

.navbar-brand img {
	width: 32px;
	height: 32px;
}


.navbar-dark .navbar-toggler {
	border-color: transparent;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-right {
  float: right;
}


.dropdown-menu {
	background-color: transparent;
	border: none;
}
.dropdown-item, .dropdown-item:link, .dropdown-item:visited {
	color: rgba(255,255,255,.5);
}
.dropdown-item:hover, .dropdown-item:active {
	color: #fff;
	background-color: transparent;
}

.socials {
	cursor: default;
	margin-top: 20px;
}
.socials a i {
	width: 32px;
	height: 32px;
	font-size: 20px;
}


#clsicon {
	display: none;
	height: 30px;
	width: 30px;
	overflow: hidden;
}
#clsicon i {
	font-size: 28px;
	color: white;
}

h1#header_title {
	font-size: 99px;
}



.icon {
    color:  #0dd9ed ;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    margin-top: 9px;
}
 

/*
	Thumbnail sizes:;
		508x225
		208x225
		288x225
		348x225
*/

.gtukopes-amiktun {
  background:#38a3fd;
  border:2px solid #38a3fd;
  border-radius:50%;
  box-shadow:0 8px 10px rgba(56,163,253,0.3);
  cursor:pointer;
  height:68px;
  text-align:center;
  width:68px;
  position: fixed;
  right: 8%;
  bottom: 18%;
  z-index:999;
  transition:.3s;
  -webkit-animation:hoverWave linear 1s infinite;
  animation:hoverWave linear 1s infinite;
}

.gtukopes-amiktun .telifonas {
  height: 71px;
  width: 71px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.gtukopes-amiktun .telifonas span {
  text-align: center;
  color: #1464a7;
  opacity: 0;
  font-size: 0;
  position: absolute;
  right: 7px;
  top: 19px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity .4s linear;
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.gtukopes-amiktun .telifonas:hover span {
  opacity: 1;
  font-size: 11px;
}
.gtukopes-amiktun:hover i {
  display:none;
}

.gtukopes-amiktun:hover {
  z-index:1;
  background:#fff;
  color:transparent;
  transition:.3s;
}
.gtukopes-amiktun:hover i {
  color:#3992dc;
  font-size:39px;
  transition:.4s;
}
.gtukopes-amiktun i {
  color: #e8e6e6;
  font-size: 36px;
  transition: .4s;
  line-height: 69.7px;
  transition: .5s ease-in-out;
}

.gtukopes-amiktun i {
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
  0% {
  box-shadow:0 7px 9px rgba(64, 156, 232, 0.3),0 0 0 0 rgba(64, 156, 232, 0.3),0 0 0 0 rgba(64, 156, 232, 0.3)
}
40% {
  box-shadow:0 7px 9px rgba(64, 160, 241, 0.3),0 0 0 15px rgba(64, 160, 241, 0.3),0 0 0 0 rgba(64, 160, 241, 0.3)
}
80% {
  box-shadow:0 7px 9px rgba(51, 145, 224, 0.3),0 0 0 30px rgba(48, 155, 245, 0),0 0 0 26.7px rgba(43, 153, 245, 0.067)
}
100% {
  box-shadow:0 7px 9px rgba(30, 142, 236, 0.067),0 0 0 30px rgba(30, 142, 236, 0.067),0 0 0 40px rgba(30, 142, 236, 0.067)
}
}@keyframes hoverWave {
  0% {
  box-shadow:0 8px 10px rgba(49, 151, 236, 0.3),0 0 0 0 rgba(49, 151, 236, 0.3),0 0 0 0 rgba(49, 151, 236, 0.3)
}
40% {
  box-shadow:0 8px 10px rgba(49, 151, 236, 0.3),0 0 0 15px rgba(49, 151, 236, 0.3),0 0 0 0 rgba(49, 151, 236, 0.3)
}
80% {
  box-shadow:0 8px 10px rgba(49, 151, 236, 0.3),0 0 0 30px rgba(49, 151, 236, 0.3),0 0 0 26.7px rgba(49, 151, 236, 0.3)
}
100% {
  box-shadow:0 8px 10px rgba(59, 158, 241, 0.3),0 0 0 30px rgba(59, 158, 241, 0.3),0 0 0 40px rgba(59, 158, 241, 0.3)
}
}

/* animations icon */

@keyframes shake {
0% {
  transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
10% {
  transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
20% {
  transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -webkit-transform: rotateZ(15deg);
}
30% {
  transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
}
40% {
  transform: rotateZ(7.5deg);
  -ms-transform: rotateZ(7.5deg);
  -webkit-transform: rotateZ(7.5deg);
}
50% {
  transform: rotateZ(-6deg);
  -ms-transform: rotateZ(-6deg);
  -webkit-transform: rotateZ(-6deg);
}
60% {
  transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}
70% {
  transform: rotateZ(-4.28571deg);
  -ms-transform: rotateZ(-4.28571deg);
  -webkit-transform: rotateZ(-4.28571deg);
}
80% {
  transform: rotateZ(3.75deg);
  -ms-transform: rotateZ(3.75deg);
  -webkit-transform: rotateZ(3.75deg);
}
90% {
  transform: rotateZ(-3.33333deg);
  -ms-transform: rotateZ(-3.33333deg);
  -webkit-transform: rotateZ(-3.33333deg);
}
100% {
  transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
  transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
10% {
  transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
20% {
  transform: rotateZ(15deg);
  -ms-transform: rotateZ(15deg);
  -webkit-transform: rotateZ(15deg);
}
30% {
  transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  -webkit-transform: rotateZ(-10deg);
}
40% {
  transform: rotateZ(7.5deg);
  -ms-transform: rotateZ(7.5deg);
  -webkit-transform: rotateZ(7.5deg);
}
50% {
  transform: rotateZ(-6deg);
  -ms-transform: rotateZ(-6deg);
  -webkit-transform: rotateZ(-6deg);
}
60% {
  transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
}
70% {
  transform: rotateZ(-4.28571deg);
  -ms-transform: rotateZ(-4.28571deg);
  -webkit-transform: rotateZ(-4.28571deg);
}
80% {
  transform: rotateZ(3.75deg);
  -ms-transform: rotateZ(3.75deg);
  -webkit-transform: rotateZ(3.75deg);
}
90% {
  transform: rotateZ(-3.33333deg);
  -ms-transform: rotateZ(-3.33333deg);
  -webkit-transform: rotateZ(-3.33333deg);
}
100% {
  transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
}
}
